<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlinks}}
    <title>Weather App</title>
</head>
<body>
  {{>navbar}}

    <!-- Main Section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/AB.png" alt="Waseem" title="About " class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>WellCOome To Weather App</p>
                        <h1>I Am A  <span class="txt-clr"> Full Stack Developer </span> And A Freelancer</h1>
                        <a href="#"><button>About Us</button></a>
                    </div>

                </div>
            </div>    
        </div>       
    </div>

    {{>footer}}
</body>
</html>